# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.*.local
src/SEG.WmsAPI/.vs/ProjectEvaluation/seg.wmsapi.metadata.v9.bin
src/SEG.WmsAPI/.vs/ProjectEvaluation/seg.wmsapi.projects.v9.bin
src/SEG.WmsAPI/.vs/ProjectEvaluation/seg.wmsapi.strings.v9.bin
src/SEG.WmsAPI/.vs/SEG.WmsAPI/CopilotIndices/17.14.1584.41681/CodeChunks.db
src/SEG.WmsAPI/.vs/SEG.WmsAPI/CopilotIndices/17.14.1584.41681/CodeChunks.db-shm
src/SEG.WmsAPI/.vs/SEG.WmsAPI/CopilotIndices/17.14.1584.41681/CodeChunks.db-wal
src/SEG.WmsAPI/.vs/SEG.WmsAPI/CopilotIndices/17.14.1584.41681/SemanticSymbols.db
src/SEG.WmsAPI/.vs/SEG.WmsAPI/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-shm
src/SEG.WmsAPI/.vs/SEG.WmsAPI/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-wal
src/SEG.WmsAPI/.vs/SEG.WmsAPI/DesignTimeBuild/.dtbcache.v2
src/SEG.WmsAPI/.vs/SEG.WmsAPI/FileContentIndex/5b5c3d73-6bb9-4b4e-94a4-897a889d61df.vsidx
src/SEG.WmsAPI/.vs/SEG.WmsAPI/FileContentIndex/37fa4151-fd44-459a-afe4-99e27207b609.vsidx
src/SEG.WmsAPI/.vs/SEG.WmsAPI/FileContentIndex/84e53090-8863-4189-8551-03db3a4fd471.vsidx
src/SEG.WmsAPI/.vs/SEG.WmsAPI/FileContentIndex/b068717a-0b24-43da-af24-5951b90ad1a3.vsidx
src/SEG.WmsAPI/.vs/SEG.WmsAPI/FileContentIndex/f52628e9-2a36-4c83-bf79-a38729e9fb4d.vsidx
src/SEG.WmsAPI/.vs/SEG.WmsAPI/config/applicationhost.config
src/SEG.WmsAPI/.vs/SEG.WmsAPI/v17/.futdcache.v2
src/SEG.WmsAPI/.vs/SEG.WmsAPI/v17/.suo
src/SEG.WmsAPI/.vs/SEG.WmsAPI/v17/DocumentLayout.backup.json
src/SEG.WmsAPI/.vs/SEG.WmsAPI/v17/DocumentLayout.json
src/SEG.WmsAPI/.vs/SEG.WmsAPI/v17/ResourceExplorer/settings.json
src/SEG.WmsAPI/.vs/SEG.WmsAPI/v17/TestStore/0/013.testlog
src/SEG.WmsAPI/.vs/SEG.WmsAPI/v17/TestStore/0/testlog.manifest
nul
src/SEG.WmsAPI/.vs/SEG.WmsAPI/FileContentIndex/10e3e419-3cfc-4bff-8570-797bd0541285.vsidx
src/SEG.WmsAPI/.vs/SEG.WmsAPI/FileContentIndex/27b615c5-bcca-4cbe-b271-e36a3e21b417.vsidx
src/SEG.WmsAPI/.vs/SEG.WmsAPI/FileContentIndex/49153b64-d0ec-4f66-b8b2-75f3f00dc96f.vsidx
src/SEG.WmsAPI/.vs/SEG.WmsAPI/FileContentIndex/a33c1949-88ab-498b-b217-c3dd6930ec21.vsidx
src/SEG.WmsAPI/.vs/SEG.WmsAPI/FileContentIndex/49153b64-d0ec-4f66-b8b2-75f3f00dc96f.vsidx
src/SEG.WmsAPI/.vs/SEG.WmsAPI/FileContentIndex/a33c1949-88ab-498b-b217-c3dd6930ec21.vsidx
src/AesHelperGUI/obj/AesHelperGUI.csproj.nuget.dgspec.json
src/AesHelperGUI/obj/AesHelperGUI.csproj.nuget.g.props
src/AesHelperGUI/obj/project.assets.json
src/AesHelperGUI/obj/project.nuget.cache
src/AesHelperGUI/obj/Debug/net8.0-windows/AesHelperGUI.AssemblyInfo.cs
src/AesHelperGUI/obj/Debug/net8.0-windows/AesHelperGUI.AssemblyInfoInputs.cache
src/SEG.WmsAPI.Test/obj/project.assets.json
src/SEG.WmsAPI.Test/obj/project.nuget.cache
src/SEG.WmsAPI.Test/obj/SEG.WmsAPI.Test.csproj.nuget.dgspec.json
src/SEG.WmsAPI.Test/obj/SEG.WmsAPI.Test.csproj.nuget.g.props
src/SEG.WmsAPI.Test/obj/Debug/net8.0/SEG.WmsAPI.Test.AssemblyInfo.cs
src/SEG.WmsAPI.Test/obj/Debug/net8.0/SEG.WmsAPI.Test.AssemblyInfoInputs.cache
src/SEG.WmsAPI.Test/obj/Debug/net8.0/SEG.WmsAPI.Test.assets.cache
src/SEG.WmsAPI.Test/obj/Debug/net8.0/SEG.WmsAPI.Test.csproj.AssemblyReference.cache
