<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogFile="c:\temp\nlog-internal.log">

	<!--[變數] 文字樣板 -->
	<variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${assembly-version} | ${message} "/>
	<variable name="LayoutFatal" value="${longdate} | ${level:uppercase=true} | ${logger} | ${assembly-version} | ${message} | ${exception:format=tostring} ${newline}"/>

	<!--[變數] 檔案位置 -->
	<variable name="LogTxtDir" value="${basedir}/App_Data/Logs/${shortdate}/"/>
	<variable name="LogTxtLocation" value="${LogTxtDir}/${logger}.log"/>
	<variable name="LogTxtLocationFatal" value="${LogTxtDir}/FatalFile.log"/>

	<!--[設定] 寫入目標-->
	<targets>
		<target name="flogger" xsi:type="File" fileName="${basedir}/App_Data/Logs/${shortdate}/${logger}.log"
			  encoding="UTF-8"
			  layout="${Layout}" />

		<target name="ferr" xsi:type="File" fileName="${basedir}/App_Data/Logs/error_${shortdate}.log"
				encoding="UTF-8"
				layout="${LayoutFatal}" />

		<target name="ffatal" xsi:type="File" fileName="${basedir}/App_Data/Logs/fatal_${shortdate}.log"
				encoding="UTF-8"
			layout="${LayoutFatal}" />
		<!--<target name="File" xsi:type="File" fileName="${LogTxtLocation}" layout="${Layout}"
            encoding="utf-8" maxArchiveFiles="30" archiveNumbering="Sequence"
            archiveAboveSize="1048576" archiveFileName="${LogTxtDir}/${logger}.log{#######}" />
    <target name="FileFatal" xsi:type="File" fileName="${LogTxtLocationFatal}" layout="${LayoutFatal}"
            encoding="utf-8" maxArchiveFiles="30" archiveNumbering="Sequence"
            archiveAboveSize="1048576" archiveFileName="${LogTxtDir}/FatalFile.log{#######}" />-->

		<target name="logconsole" xsi:type="Console" />
	</targets>

	<!--[設定] 紀錄規則-->
	<rules>
		<!-- 多種級別寫在同一檔案 -->
		<logger name="*" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="flogger" />

		<!-- 錯誤級的訊息還會另外寫獨立檔案 -->
		<logger name="*" level="Error" writeTo="ferr" />

		<!-- Fatal級的訊息會寫到檔案及Windows事件檢視器 -->
		<logger name="*" level="Fatal" writeTo="ffatal" />
		<!--<logger name="*" level="Fatal" writeTo="eventlog" />-->

		<logger name="*" minlevel="Info" writeTo="logconsole" />
	</rules>
</nlog>
